:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}


@media only screen and (max-width:600px) {
  html {
    font-size: calc(62.5% / 2);
  }
  aside {
    width: 50%;
  }
  canvas {
    width: fit-content;
    height: fit-content;
  }
  .App {
    grid-template-rows: 1fr 2fr;
  }
}

@media only screen and (max-width:400px) {
  html {
    font-size: calc(62.5% / 4);
  }
  aside {
    width: 50%;
  }
  canvas {
    width: fit-content;
    height: fit-content;
  }
  .App {
    grid-template-rows: 1fr 2fr;
  }
}
@media only screen and (max-width:250px) {
  html {
    font-size: calc(62.5% / 8);
  }
  aside {
    width: 50%;
  }
  canvas {
    width: fit-content;
    height: fit-content;
  }
  .App {
    grid-template-rows: 1fr 2fr;
  }
}

@media (prefers-color-scheme: dark) {
  .App-dark{
    background-color: #242424;
    color: #ffffff;
  }

  body {
    background-color: #242424;
    color: #ffffff;
  }
}